<div class="container">
	<div class="row">
		<div class="col-sm-11 col-md-8 col-lg-6">
			<h3>Click a character's name to cast your vote</h3>
		</div>

		<div class="col-sm-2 col-md-2 col-lg-2">
			<button class="btn btn-default" ng-click="toggleNameOrder()" style="margin-top: 15px;">Switch surname positions</button> 
		</div>
	</div>

	<div class="row">
		<div class="col-sm-12 col-md-8 col-lg-6">
			<poller name-order="asianStyleNameOrdering"></poller>
	  	</div>
	</div>

	<div class="row">
		<div class="col-sm-12 col-md-8 col-lg-6">
			<a class="btn btn-success" href="#/results/{{pollId}}" role="button">Vote and see results</a>
		</div>
	</div>
</div>